<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="uloc_token_new" controller="uloc_api.controller.token_controller::newToken" path="/auth"/>
    <route id="uloc_token_user_credentials" controller="uloc_api.controller.token_controller::userCredentials" path="/userCredentials"/>
</routes>